.features {
    position: relative;
    top: -50px;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    @media only screen and (max-width: 992px) {
        padding-top: 5rem;
    }
    &__box {
        width: 30rem;
        flex-grow: 1; // baraye inke agar ja dasht roshd konad
        padding: 1rem 2rem;
        margin: 2rem;
        text-align: center;
        border-radius: 1rem;
        background-color: white;
        box-shadow: 0 8px 16px 0 rgba(#457b9d, 0.2);
        transition: all 0.3s ease;
        &:hover {
            transform: scale(1.06);
        }
    }

    &__text {
        padding: 1rem 2rem;
        & > h3 {
            white-space: nowrap;
        }
    }
}
