.header {
    position: relative;
    width: 100%;
    height: 45rem;
    padding: 3rem 0;
    background-color: $color-green1;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        background: linear-gradient(353deg, $color-green1, $color-white);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    }
    &__wrap {
        display: inline-block;
    }
    &__banner {
        @include flex(space-evenly, center);
        height: 100%;
    }
    // flex items
    &__h-tags {
        position: relative;
        z-index: 2;
        @include flex(space-evenly, flex-start, column);
        width: 50%;
    }
    &__rocket-bg {
        @include flex(center);
        width: 50%;
        height: 360px;
        background: image("rocket-bg.png") no-repeat center bottom; // do kalame akhar mehvar aval x dovomi y
    }
    &__rocket {
        background: image("rocket.png") no-repeat center bottom;
        width: 20%;
        background-size: contain; // (contain) yani bedoon inke aks ro bekeshi kamel an ra dar fazayi ke darad namayesh bede
        animation: rocket-moving 4s infinite linear;
    }
    @media only screen and (max-width: 992px) {
        height: 40rem;
    }

    @media only screen and (max-width: 768px) {
        padding: 1rem 0;
        &::after {
            display: none;
        }
        &__h-tags {
            align-items: center;
            width: 100%;
        }
        &__banner {
            flex-direction: column;
        }
        &__rocket-bg {
            width: 100%;
        }
        &__rocket {
            width: 13%;
        }
    }


}
