.nav {
    &__lists {
        position: relative;
        display: flex;
        justify-content: center;
        z-index: 30;
        align-items: center;
    }

    &__list {
        position: relative;
        &:hover > ul.nav__sublists1 {
            transform: scale(1);
        }
    }

    &__link {
        position: relative;
        display: block;
        padding: 1.3rem;
        transition: all 0.3s ease;
        &:hover {
            color: $color-brown1;
            transition: all 0.75s ease;
            &::after {
                width: 100%;
            }
            & > span {
                transform: rotate(225deg);
            }
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0%;
            height: 0.3rem;
            border-radius: 0.5rem;
            background-color: $color-blue1;
            transform: translateX(-50%);
            transition: all 0.3s ease;
        }
    }

    // sublists1 ul
    &__sublists1,
    &__sublists2 {
        position: absolute;
        width: 20rem;
        background-color: white;
        border-top: 0.3rem solid $color-orange1;
        border-radius: 0.3rem;
        box-shadow: 0 0 4px darken($color-gray1, 45%);
        transform: scale(0);
        transform-origin: top right;
        transition: all 0.3s ease;
    }

    &__sublists1 {
        & i {
            margin-left: 1rem;
            color: $color-blue3;
        }
        & a {
            display: flex;
            align-items: center;
            padding: 1.3rem;
            color: #444;
            transition: all 0.3s ease;
            &:hover {
                padding-right: 1.5rem;
                background-color: $color-gray1;
                color: $color-blue1;
            }
        }
    }

    // sublist1 li
    &__sublist1 {
        position: relative;
        & > a i:last-child {
            margin-right: auto;
        }
    }

    &__show-ul:hover > ul.nav__sublists2 {
        transform: scale(1);
    }

    // sublists2 ul
    &__sublists2 {
        right: 100%;
        top: 10rem;
    }

    // all submenu links

    // nav arrow

    &__arrow {
        position: absolute;
        top: 40%;
        left: 0;
        width: 0.7rem;
        height: 0.7rem;
        border: 1px solid $color-brown1;
        // border-width: 0 1px 1px 0;
        border-top-width: 0;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 0;
        transform: rotate(45deg);
        transition: all 0.4s ease;
    }

    &__arrow-saier {
        position: absolute;
        left: 1.7rem;
        width: 0.7rem;
        height: 0.7rem;
        border: 1px solid $color-brown1;
        // border-width: 0 1px 1px 0;
        border-top-width: 0;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 0;
        transform: rotate(224deg);
        transition: all 0.6s ease;
    }

    &__hover-a:hover > span {
        transform: rotate(130deg);
    }

    // mega menu
    &__mega {
        position: static;
        &:hover > .nav__mega-content {
            transform: scale(1, 1);
        }
    }

    &__mega-content {
        position: absolute;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem;
        white-space: nowrap;
        // (white-space: nowrap;) yani be hich vajh khati ke mega menu bar rooye an position absolute grefte ra nashkan
        background-image: conic-gradient(#98d6f3, #fea2b1, #f7f1fa, #98d6f3);
        border-top: 0.3rem solid $color-orange1;
        border-radius: 0.3rem;
        box-shadow: 0 0 4px darken($color-gray1, 45%);
        transform: scale(1, 0);
        // (scale(1, 0)) ba inkar va (transform-origin: top;) mega menu az balaye ul baz mishavad
        transform-origin: top;
        transition: all 0.3s ease;
        @media only screen and (min-width: 768px) and (max-width: 1200px) // yani agar screen bein in do ta bood emal shavad 
        {
            width: 67rem;
        }
    }

    &__mega-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        & > h4 {
            padding: 2rem;
            border-bottom: 3px solid $color-orange1;
        }
        & > .nav__button {
            align-self: center;
        }
    }

    &__mega-lists {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        & a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.5rem;
            color: #444;
            &:hover {
                color: $color-blue1;
                & > i {
                    color: #444;
                    transform: rotate(1turn);
                }
            }
        }

        & i {
            margin-left: 0.5rem;
            transition: all 0.3s ease;
        }
    }

    // burger menu

    &__burger-label {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 4rem;
        height: 4rem;
        user-select: none;
        // (user-select: none)baraye inke nashavad select kard chizi ra agar in ra rooye all bezarim ba yek click kol matn entekhab mishavad
        cursor: pointer;
        
        @media only screen and (min-width: 769px) {
            display: none !important;
        }
        & > span {
            height: 0.5rem;
            border-radius: 0.5rem;
            background-color: $color-blue2;
            transition: all 0.5s $cubic-bezier;
            animation: burgermenu-color 2.5s ease infinite alternate;
        }

        & > span:nth-of-type(1) {
            width: 80%;
        }

        & > span:nth-of-type(2) {
            width: 100%;
        }

        & > span:nth-of-type(3) {
            width: 60%;
        }
        
        
    }

    &__burger-checkbox {
        display: none;
    }


    // Responsive

    @media only screen and (max-width: 768px) {
        &__mobaile-wrap {
            position: fixed;
            top: 9.2rem;
            right: 0;
            bottom: 0;
            left: 0;
            overflow-x: hidden;
            overflow-y: scroll;
            // mikhahim karbar dar mobaile rooye mehvar y pish beravad (bala)
            z-index: 100;
            display: none;
            width: 100vw;
            height: auto;
            // baraye inke andaze chaild khod shavad (bala)
            background-color: $color-blue4;
        }



        &__burger-checkbox:checked {
            & ~ .nav__mobaile-wrap {
                display: block;
            }

            & ~ .nav__burger-label :nth-child(1) {
                width: 50%;
                transform-origin: bottom;
    
                transform: rotate(45deg) translate(-1rem, 1.6rem);
            }
    
            & + .nav__burger-label :nth-child(2) {
                transform: rotate(-45deg);
            }
    
            & ~ .nav__burger-label :nth-of-type(3) {
                width: 50%;
                transform: rotate(45deg) translate(-0.5rem, -0.1rem);
            }

        }

        &__link {
            width: calc(100vw - 3rem);
        }

        &__lists {
            flex-direction: column;
        }

        &__list:not(:last-child)
    
        // not(:last-child) migooyim agar nabood be akharin child style ra bede
         {
            border-bottom: 1px solid #ccc;
        }

        &__sublists1,
        &__sublists2,
        &__mega-content {
            // reset setings
            position: relative;
            top: 0;
            right: 0;
            display: none;
            width: 100%;
            margin-right: 2rem;
            border: none;
            background: none;
            box-shadow: none;
            transform: scale(1);
        }

        &__list:hover > .nav__sublists1,
        &__show-ul:hover > .nav__sublists2,
        &__mega:hover > .nav__mega-content {
            display: block;
        }

        &__mega-column {
            align-items: center;
        }

        &__hover-a:hover > span {
            transform: rotate(45deg);
        }
    }
}
