.navbar {
    @media only screen and (max-width: 768px) {
        position: sticky;
        top: 0;
        box-shadow: 0 0 4px #444444;
    }

    &__search-box {
        width: 20rem;
        @media only screen and (max-width: 992px) {
            order: 1;
            width: auto;
        }
    }
    &__nav {
        flex-grow: 1;
        @media only screen and (max-width: 992px) {
            flex-grow: 0;
        }
    }

    &__logo {
        @media only screen and (max-width: 992px) {
            order: 2;
        }
    }
}
