.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__search-box {
    width: 20rem;
}
.navbar__nav{
    flex-grow: 1;
}

@media only screen and (max-width: 768px) {
    .navbar {
        position: sticky;
        top: 0;
        /*(top: 0;)  ba in kar migooim be samt bala sticky besho */
    }

}

@media only screen and (max-width: 992px) {

    .navbar__search-box {
        order: 1;
        width: auto;
        /* (auto)be CHAILD khod negah mikonad */
    }

    .navbar__logo {
        order: 2;
    }
    .navbar__nav{
        flex-grow: 0;
    }
}
