.accordion {
    height: 40rem;
    margin: 1rem;
    &__top {
        @include flex(space-between);
        padding: 2rem;
        background-color: $color-gray1;
        border: 1px solid $color-gray2;
        border-radius: 0.2rem;
        font-weight: bold;
        cursor: pointer;
        user-select: none;
    }
    &__span {
        margin-left: 33rem;
    }
    &__angle-icon{
        transition: all 0.6s ease;
    }
    &__bottm {
        @include flex(false, center);
        height: 0;
        overflow: hidden;
    }
    &__text {
        position: relative;
        width: 90%;
        padding: 1.5rem;
        text-align: justify;
    }
    &__icon {
        position: relative;
        width: 10%;
        margin: 1.5rem;
        font-size: 5rem;
        opacity: 0.4;
        left: 0;
    }
    &__input {
        @extend %hidden;
        // we use placeholder
        &:checked {
            + .accordion__label > .accordion__top {
                & > .accordion__angle-icon {
                    transform: rotate(-180deg);
                    
                }
            }

            + .accordion__label > .accordion__bottm {
                height: 10rem;
                transition: height 0.6s ease;
            }
            + .accordion__label .accordion__text {
                animation: accordion-text-move 0.5s ease-out forwards;
            }
            + .accordion__label .accordion__icon {
                transition: left 0.6s 0.2s cubic-bezier(0.65, 0.02, 0.38, 0.98);
            }
        }
        &:not(:checked) {
            + .accordion__label > .accordion__bottm {
                height: 0;
                transition: height 0.5s 0.1s cubic-bezier(0.65, 0.02, 0.38, 0.98);
            }
            + .accordion__label .accordion__text {
                animation: accordion-icon-move-out 0.5s cubic-bezier(0.65, 0.02, 0.38, 0.98) forwards;
            }
            + .accordion__label .accordion__icon {
                left: -80px;
                transition: left 0.5s cubic-bezier(0.65, 0.02, 0.38, 0.98);
            }
        }
    }
}
