.btn {
    position: relative;
    padding: 1rem 2rem;
    margin: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 0 3px darken($color-gray1, 50%);
    overflow: hidden;

    transform: all 0.3s ease;
    &__swipe {
        background-color: $color-orange2;
        & > span {
            position: relative;
            z-index: 1;
            color: $color-white;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $color-orange3;
            border-radius: 1rem;
            transform: scale(0, 1);
            transition: all 0.4s ease;
            font-weight: normal;
        }
        &:hover {
            &::after {
                transform: scale(1, 1);
            }
        }
    }
    &__shape {
        color: $color-white;
        padding: 1.2rem 2rem 1.2rem 4rem;
        &--pink {
            background-color: $color-pink1;
        }
        &--blue {
            background-color: $color-blue3;
        }
        &--orange {
            background-color: $color-orange1;
        }
        &::before {
            content: "\f3c1"; // vared kardan icon
            position: absolute;
            top: 1rem;
            left: 1rem;
            font-size: 2rem;
            transform: rotateY(-0.5turn);
            transition: all 0.3s linear;
            opacity: 0;
        }
        &::after {
            content: "\f023";
            position: absolute;
            top: 1rem;
            left: 1rem;
            font-size: 2rem;
            transition: all 0.3s linear;
            opacity: 1;
        }
        &:hover {
            color: $color-gray1;
            &::after {
                transform: rotateY(0.5turn);
                opacity: 0;
            }
            &::before {
                transform: rotateY(0);
                opacity: 1;
            }
        }
    }
    &__rippel {
        color: $color-white;
        & span {
            position: relative;
            z-index: 2;
        }
        &--blue{
            background-color: $color-blue5;
            &::after{
                background-color: $color-blue6;
            }
        }
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 20rem;
            height: 20rem;
            border-radius: 50%;
            transform: translate(-50%, -50%) scale(0);
            opacity: 1;
        }
        &:active::after,
        &:focus::after{
            transform: translate(-50%,-50%) scale(1);
            opacity: 0;
            transition: opacity 1s ease,transform .8s ease;
        }
    }
}
.shadow-none {
    box-shadow: none;
    text-shadow: none;
}
