.course {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__box {
        position: relative;
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        width: 41rem;
        margin: 2rem;
        border: 2px solid $color-gray1;
        border-radius: 0.5rem;
        @media only screen and (max-width: 576px) {
            width: 37rem;
        }
    }

    // header
    &__header {
        position: relative;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;

            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(black, 0.19);
            transform: scale(0);
            transition: all.3s ease-in-out;
        }
        &:hover {
            &::after {
                transform: scale(1);
            }
            & .course__details-link {
                left: 1.8rem;
                opacity: 1;
            }
            & .course__social-media i {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
    &__details-link {
        position: absolute;
        top: 1rem;
        left: 1rem;
        z-index: 1;
        color: $color-white;
        opacity: 0;
        transition: all 0.2s ease-in;
        &:hover {
            color: $color-gray2;
        }
    }

    &__social-media {
        position: absolute;
        bottom: 0;
        z-index: 1;
        display: flex;
        width: 100%;

        & i {
            padding: 1rem;
            color: $color-white;
            font-size: 2rem;
            opacity: 0;
            transform: scale(1.7);
            transition: all 0.3s linear;
            &:hover {
                color: $color-orange1;
            }
        }
        & :nth-child(2) {
            margin-right: auto;
        }
    }
    &__img {
        display: block;
        width: 41rem;
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
    }
    //body
    &__body {
        padding: 1rem;
    }
    &__details {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        & i {
            font-size: 1.7rem;
            margin-left: 1rem;
            color: $color-blue3;
        }
    }
    &__tags {
        display: flex;
        justify-content: center;
        @media only screen and (max-width: 576px) {
            flex-direction: column;
            width: 100%;
        }
    }
    &__tag {
        position: relative;
        height: 3.4rem;
        padding: 0.7rem;
        margin: 1.5rem 0 0 1.6rem;
        white-space: nowrap;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        &:hover {
            animation: wiggle 2.2s linear forwards;
            border: none;
        }
        a {
            color: $color-white;
            &:hover {
                color: $color-gray1;
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 1.3rem;
            left: -7px;
            z-index: 1;
            width: 7px;
            height: 7px;
            background-color: $color-white;
            border-radius: 50%;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: -14px;
            border-style: solid;
            border-width: 16px 14px 18px 0;
            border-color: transparent;
        }
    }
    &__tag--blue {
        background-color: $color-blue3;
        &::after {
            border-right-color: $color-blue3;
        }
    }
    &__tag--green {
        background-color: $color-green2;
        &::after {
            border-right-color: $color-green2;
        }
    }
    &__tag--orange {
        background-color: $color-orange1;
        &::after {
            border-right-color: $color-orange1;
        }
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        border-top: 1px solid $color-gray2;
        @media only screen and (max-width: 576px) {
            flex-direction: column;
        }
    }
    &__price {
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: $color-gray2;
    }
    &__result {
        font-family: "vazir";
        padding: 0.5rem;
        margin: 0.2rem;
        margin-right: 1rem;
        padding-left: 1.3rem;
    }
    &__result1 {
        font-family: "vazir";
        color: goldenrod;
    }
    &__user {
        position: absolute;
        top: 45.75rem;
        left: 20rem;
        color: darken($color-blue2, 25%);
        @media only screen and (max-width: 576px) {
            top: 58.3rem;
            left: 15.6rem;
        }
    }
    &__cursor {
        cursor: pointer;
    }
    &__js-text{
        font-family: "vazir";
        font-size: 1.1rem;
        position: absolute;
        top: 47.6rem;
        left: 16.5rem;
        z-index: 1;
        width: 11.95rem;
        height: 2rem;
        color: darken(#000000,90%);
        background-color: #f0deb9;
        border-radius: 10%;
        text-align: center;
        display: none;
        @media only screen and (max-width: 576px) {
            top: 60.3rem;
            left: 12.5rem;
        }
    }
    &__js-text-before{
        width: 10px;
        height: 10px;
        background: #a8cae4;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 47.2rem;
        right: 18rem;
        display: none;
        @media only screen and (max-width: 576px) {
            top: 59.8rem;
        }
    }
    &__stars {
        display: flex;
        justify-content: center;
        align-items: center;
        direction: ltr;
        border: none;
        order: 3;
    }
    &__star {
        color: $color-gold2;
        cursor: pointer;
        font-size: 2rem;
        &:hover ~ .course__star {
            color: $color-gray2;
        }
    }
    &__star1 {
        position: absolute;
        top: 45.6rem;
        right: 24.7rem;
        color: goldenrod;
        font-size: 2rem;
        @media only screen and (max-width: 576px) {
            display: none;
        }
    }
    //riboon
    &__ribbon {
        position: absolute;
        top: 1.5rem;
        right: -1rem;
        width: 10rem;
        height: 5rem;
        overflow: hidden;
        pointer-events: none;
        z-index: 1;
        &::after {
            content: "";
            position: absolute;
            top: 3.5rem;
            right: 0;
            border: 0.5rem solid $color-orange1;
            border-bottom-color: transparent;
            border-right-color: transparent;
        }
    }
    &__ribbon-text {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
        padding: 0.6rem 0;
        background-color: $color-orange1;
        color: $color-white;
        box-shadow: 0 0 8px rgba($color-gray4, 0.1);
        border-radius: 0.5rem;
        border-bottom-right-radius: 0;
        text-align: center;
    }
}
