.glass {
    position: absolute;
    right: 5rem;
    top: 5rem;
    width: 50rem;
    height: 36rem;
    border: 1px solid $color-gray1;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.329);
    box-shadow: 18px 13px 29px -5px rgba(0, 0, 0, 0.72);
    padding: 1rem;
    overflow: hidden;
    @supports (backdrop-filter: blur(4px)) {
        background-color: transparent;
        backdrop-filter: blur(4px);
    }
    @media only screen and (max-width: 768px) {
        position: relative;
        right: 2rem;
        top: 5rem;
        width: 90%;
        height: 34rem;
        .form__input-bar{
            display: none;
        }
    }
    @media only screen and (max-width: 369px) {
        .form__check-text {
            display: none !important;
        }
    }
    &:focus-within {
        background-color: $color-white;
    }
}
