.video{
    position: relative;
    display: block;
    &__video-bg{
        display: block;
        max-width: 50rem;
        width: 100%;
        max-height: 50rem;
        height: 100%;
        
    }
    &__svg{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        max-width: 50rem;
        width: 100%;
        max-height: 50rem;
        height: 100%;
    }
    &__st0{
        fill: $color-red1;
    }
    &__st1{
        stroke: $color-red1;
        stroke-width: 3;
        stroke-linecap: round;
        stroke-dasharray: 0;
        animation:video-mask 3s linear infinite alternate;
    }

}