.search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 1 rem=10px(layot(for-all)) */
    width: 5rem;
    height: 5rem;
    padding-bottom: 1.5rem;
    border: 0.3rem solid $color-blue3;
    border-radius: 5rem;
    transition: width .5s $cubic-bezier;
    /* aval entekhab mikonim be kodam property bedahim(dar inja width) baad zaman animation baad noe animation */
  
  }
  
  .search__form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 0.1rem solid $color-blue3;
    margin-top: 1.5rem;
    margin-right: auto;
    margin-left: 0.2rem;
  }
  
  .search__input {
    display: none;
    position: absolute;
    right: 0.3rem;
    width: calc(100% - 5rem);
    /* dar inja goftim nesf 100% ra khodat mohasebe kon */
    height: 80%;
    outline: 0;
    border: 0;
    background-color: transparent;
  }
  
  .search__input::placeholder {
    color: $color-gray4;
  }
  
  .search__button {
    position: relative;
    /* in position ra dadim ta class payini betavanad bar asas position parentash ja begirad */
    height: 3rem;
    /* 10 pixel az parent khod kamtar ast */
    width: 3rem;
    border: 0;
    outline: 0;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
  }
  
  span.search__circle {
    position: absolute;
    height: 2rem;
    width: 2rem;
    top: 0;
    left: 0;
  }
  
  .search__circle::before,
  .search__circle::after {
    content: "";
    position: absolute;
    left: 0.2rem;
    width: 1.8rem;
    height: 0.9rem;
    border: 0.5rem solid $color-blue3;
    transition: all 300ms ease;
  }
  
  .search__circle::before {
    content: "";
    /* content bayad hatman bashad va garna namayesh nemidahad*/
    position: absolute;
    top: 0.2rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom: 0;
  }
  
  .search__circle::after {
    content: "";
    position: absolute;
    top: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top: 0;
  }
  
  .search__stand {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 1.5rem;
    height: 0.6rem;
    background-color: transparent;
    /* dar inja background-color ro mahv karsim */
    transform: rotate(45deg);
  }
  
  .search__stand::after, .search__stand::before {
    content: "";
    position: absolute;
    top: 0.2rem;
    width: 1.5rem;
    height: 0.6rem;
    background-color: $color-blue3;
    border-radius: 1rem;
    transition: all 300ms ease;
  }
  
  /* (:focus-within)yani agar roosh click shod (haman on click ast vali baraye css) */
  .search:focus-within {
    width: 20rem;
  }
  
  @media only screen and (max-width: 768px) {
    .search:focus-within {
      width: 12rem;
    }
  }
  
  .search:focus-within .search__input {
    display: block;
  }
  
  .search:focus-within .search__circle {
    top: 0.4rem;
    left: -0.3rem;
  }
  
  .search:focus-within .search__circle::before,
  .search:focus-within .search__circle::after {
    border-radius: 1rem;
    background-color: $color-blue3;
    width: 1.5rem;
    height: 0.6rem;
  }
  
  .search:focus-within .search__circle::before {
    top: 0.4rem;
    transform: rotate(-45deg);
  }
  
  .search:focus-within .search__circle::after {
    transform: rotate(45deg);
  }
  
  
  
  .search:focus-within .search__stand {
    top: 1.3rem;
    transform: rotate(0);
  }
  
  .search:focus-within .search__stand::before {
    top: -0.5rem;
    transform: rotate(-45deg);
  
  
  }
  
  .search:focus-within .search__stand::after {
    transform: rotate(45deg);
  }