.search {
  $parent: &; // moteghaier tarif kardim va intori az moteghaier estefade mikonim( #{$parent}__input )
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 1 rem=10px(layot(for-all)) */
  width: 5rem;
  height: 5rem;
  padding-bottom: 1.5rem;
  border: 0.3rem solid $color-blue3;
  border-radius: 5rem;
  transition: width 0.5s $cubic-bezier;
  /* aval entekhab mikonim be kodam property bedahim(dar inja width) baad zaman animation baad noe animation */

  &__form // (&)naam parent ro dobare tekrar mikone(search) dar khoroogi,, vali ma dar sas search form ro tooye block search neveshtim
  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 0.1rem solid $color-blue3;
    margin-top: 1.5rem;
    margin-right: auto;
    margin-left: 0.2rem;
  }
  &__input {
    display: none;
    position: absolute;
    right: 0.3rem;
    width: calc(100% - 5rem);
    /* dar inja goftim nesf 100% ra khodat mohasebe kon */
    height: 80%;
    outline: 0;
    border: 0;
    background-color: transparent;
    &::placeholder {
      color: $color-gray4;
    }
  }
  &__button {
    position: relative;
    /* in position ra dadim ta class payini betavanad bar asas position parentash ja begirad */
    height: 3rem;
    /* 10 pixel az parent khod kamtar ast */
    width: 3rem;
    border: 0;
    outline: 0;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
  }
  &__circle {
    position: absolute;
    height: 2rem;
    width: 2rem;
    top: 0;
    left: 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0.2rem;
      width: 1.8rem;
      height: 0.9rem;
      border: 0.5rem solid $color-blue3;
      transition: all 300ms ease;
    }
    &::before {
      content: "";
      /* content bayad hatman bashad va garna namayesh nemidahad*/
      position: absolute;
      top: 0.2rem;
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
      border-bottom: 0;
    }
    &::after {
      content: "";
      position: absolute;
      top: 1rem;
      border-bottom-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
      border-top: 0;
    }
  }
  &__stand {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 1.5rem;
    height: 0.6rem;
    background-color: transparent;
    /* dar inja background-color ro mahv karsim */
    transform: rotate(45deg);
    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0.2rem;
      width: 1.5rem;
      height: 0.6rem;
      background-color: $color-blue3;
      border-radius: 1rem;
      transition: all 300ms ease;
    }
  }
  &:focus-within {
    width: 20rem;
    @media only screen and (max-width: 768px) {
      width: 12rem;
    }
    #{$parent}__input {
      display: block;
    }
    .search__circle {
      top: 0.4rem;
      left: -0.3rem;
      &::before,
      &::after {
        border-radius: 1rem;
        background-color: $color-blue3;
        width: 1.5rem;
        height: 0.6rem;
      }
      &::before {
        top: 0.4rem;
        transform: rotate(-45deg);
      }
      &::after {
        transform: rotate(45deg);
      }
    }
    .search__stand {
      top: 1.5rem;
      transform: rotate(0);

      &::before {
        top: -0.7rem;
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }
    }
  }
}
