*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* (box-sizing: border-box;) baraye inke padding va margin default bardashte shavad */
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  /* ba in kar bar hasb 10 px mohasebe mishavad na shoonzdah pixel default pas har 1rem mishe 10pxel */
}

body {
  font-family: Verdana, vazir, Tahoma, sans-serif;
  font-size: 1.5rem;
}

button,
textarea,
select,
input {
  font-family: inherit;
  /* (inherit) yani font ra az body begir */
}

ul {
  list-style: none;
}

a {
  color: #0d62da;
  text-decoration: none;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

a:hover {
  color: #e76f51;
}

@font-face {
  font-family: "vazir";
  src: url("../fonts/eot/Vazir-Thin.eot");
  src: url("../fonts/Vazir-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/Vazir-Thin.woff2") format("woff2"), url("../fonts/woff/Vazir-Thin.woff") format("woff"), url("../fonts/ttf/Vazir-Thin.ttf") format("truetype");
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  /* in do ta ra neveshtim braye inke vasat ghrar begirad (bala) */
  padding-right: 1rem;
  padding-left: 1rem;
  /* in do ta ra neveshtim braye inke kami fasele begirad(az kenar) */
  /* (min-width)kamtar az:   (max-width)bishtar az: */
}

@media only screen and (min-width: 576px) {
  .container .container {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .container .container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .container .container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .container .container {
    max-width: 1140px;
  }
}

@media only screen and (min-width: 1400px) {
  .container .container {
    max-width: 1320px;
  }
}

/* Flex helpers(yek bar benevis baraye hamishe estefade kon) */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* padding margin helper */
.pt-10 {
  padding-top: 1rem;
}

.pb-10 {
  padding-bottom: 1rem;
}

.pt-20 {
  padding-top: 2rem;
}

.pb-20 {
  padding-bottom: 2rem;
}

.margin__r-auto {
  margin-right: auto;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 992px) {
  .show-small {
    display: block;
  }
}

@media only screen and (min-width: 993px) {
  .show-large {
    display: block;
  }
}

.search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* 1 rem=10px(layot(for-all)) */
  width: 5rem;
  height: 5rem;
  padding-bottom: 1.5rem;
  border: 0.3rem solid #457b9d;
  border-radius: 5rem;
  -webkit-transition: width 0.5s cubic-bezier(0.55, -0.45, 0.57, 1.46);
  transition: width 0.5s cubic-bezier(0.55, -0.45, 0.57, 1.46);
  /* aval entekhab mikonim be kodam property bedahim(dar inja width) baad zaman animation baad noe animation */
}

.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 0.1rem solid #457b9d;
  margin-top: 1.5rem;
  margin-right: auto;
  margin-left: 0.2rem;
}

.search__input {
  display: none;
  position: absolute;
  right: 0.3rem;
  width: calc(100% - 5rem);
  /* dar inja goftim nesf 100% ra khodat mohasebe kon */
  height: 80%;
  outline: 0;
  border: 0;
  background-color: transparent;
}

.search__input::-webkit-input-placeholder {
  color: #999999;
}

.search__input:-ms-input-placeholder {
  color: #999999;
}

.search__input::-ms-input-placeholder {
  color: #999999;
}

.search__input::placeholder {
  color: #999999;
}

.search__button {
  position: relative;
  /* in position ra dadim ta class payini betavanad bar asas position parentash ja begirad */
  height: 3rem;
  /* 10 pixel az parent khod kamtar ast */
  width: 3rem;
  border: 0;
  outline: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
}

.search__circle {
  position: absolute;
  height: 2rem;
  width: 2rem;
  top: 0;
  left: 0;
}

.search__circle::before, .search__circle::after {
  content: "";
  position: absolute;
  left: 0.2rem;
  width: 1.8rem;
  height: 0.9rem;
  border: 0.5rem solid #457b9d;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.search__circle::before {
  content: "";
  /* content bayad hatman bashad va garna namayesh nemidahad*/
  position: absolute;
  top: 0.2rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-bottom: 0;
}

.search__circle::after {
  content: "";
  position: absolute;
  top: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top: 0;
}

.search__stand {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 1.5rem;
  height: 0.6rem;
  background-color: transparent;
  /* dar inja background-color ro mahv karsim */
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.search__stand::after, .search__stand::before {
  content: "";
  position: absolute;
  top: 0.2rem;
  width: 1.5rem;
  height: 0.6rem;
  background-color: #457b9d;
  border-radius: 1rem;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.search:focus-within {
  width: 20rem;
}

@media only screen and (max-width: 768px) {
  .search:focus-within {
    width: 12rem;
  }
}

.search:focus-within .search__input {
  display: block;
}

.search:focus-within .search__circle {
  top: 0.4rem;
  left: -0.3rem;
}

.search:focus-within .search__circle::before, .search:focus-within .search__circle::after {
  border-radius: 1rem;
  background-color: #457b9d;
  width: 1.5rem;
  height: 0.6rem;
}

.search:focus-within .search__circle::before {
  top: 0.4rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.search:focus-within .search__circle::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.search:focus-within__stand {
  top: 1.3rem;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.search:focus-within__stand::before {
  top: -0.5rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.search:focus-within__stand::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

ul.nav__lists {
  position: relative;
  /* (position: relative;) baraye inke mega menu bar asas ul position begirad na bar asas li balaye khod */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  position: relative;
}

.nav__list:hover > ul.nav__sublists1 {
  -webkit-transform: scale(1);
          transform: scale(1);
  /* (scale(1)) goftim hala bozorg namayi ma barabar yek bashad (ta zaher shavad)*/
}

a.nav__link {
  position: relative;
  display: block;
  padding: 1.3rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.nav__link:hover {
  color: #3c4858;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 0.3rem;
  border-radius: .5rem;
  background-color: #0d62da;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.nav__link:hover::after {
  width: 100%;
}

/* sublists1 ul */
.nav__sublists1,
.nav__sublists2 {
  position: absolute;
  width: 20rem;
  background-color: white;
  border-top: 0.3rem solid #e76f51;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 0 4px #3d3d3d;
          box-shadow: 0 0 4px #3d3d3d;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav__sublists1 i {
  margin-left: 1rem;
  color: #457b9d;
}

/* sublist1 li*/
.nav__sublist1 {
  position: relative;
}

.nav__show-ul:hover > ul.nav__sublists2 {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.nav__sublist1 > a i:last-child {
  margin-right: auto;
}

/* sublists2 ul*/
.nav__sublists2 {
  right: 100%;
  top: 10rem;
}

/* all submenu links */
.nav__sublists1 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.3rem;
  color: #444;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav__sublists1 a:hover {
  padding-right: 1.5rem;
  background-color: #f1f1f1;
  color: #0d62da;
}

/* nav arrow */
.nav__arrow {
  position: absolute;
  top: 40%;
  left: 0;
  width: .7rem;
  height: .7rem;
  border: 1px solid #3c4858;
  /* border-width: 0 1px 1px 0; */
  border-top-width: 0;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.nav__link:hover > span {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.nav__arrow-saier {
  position: absolute;
  left: 1.7rem;
  width: .7rem;
  height: .7rem;
  border: 1px solid #3c4858;
  /* border-width: 0 1px 1px 0; */
  border-top-width: 0;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0;
  -webkit-transform: rotate(224deg);
          transform: rotate(224deg);
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

.nav__hover-a:hover > span {
  -webkit-transform: rotate(130deg);
          transform: rotate(130deg);
}

/* mega menu */
.nav__mega {
  position: static;
}

.nav__mega:hover > .nav__mega-content {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.nav__mega-content {
  position: absolute;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  white-space: nowrap;
  /* (white-space: nowrap;) yani be hich vajh khati ke mega menu bar rooye an position absolute grefte ra nashkan */
  background-image: conic-gradient(#98d6f3, #fea2b1, #f7f1fa, #98d6f3);
  border-top: 0.3rem solid #e76f51;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 0 4px #3d3d3d;
          box-shadow: 0 0 4px #3d3d3d;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  /* (scale(1, 0)) ba inkar va (transform-origin: top;) mega menu az balaye ul baz mishavad */
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .nav__mega-content {
    width: 67rem;
  }
}

.nav__mega-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

ul.nav__mega-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__mega-column > h4 {
  padding: 2rem;
  border-bottom: 3px solid #e76f51;
}

.nav__mega-column > .nav__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav__mega-lists a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem;
  color: #444;
}

.nav__mega-lists a:hover {
  color: #0d62da;
}

.nav__mega-lists i {
  margin-left: .5rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.nav__mega-lists a:hover > i {
  color: #444;
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
  /* (1turn) yani yek dor becharkh */
}

/* burger menu */
.nav__burger-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 4rem;
  height: 4rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* (user-select: none)baraye inke nashavad select kard chizi ra agar in ra rooye all bezarim ba yek click kol matn entekhab mishavad */
  cursor: pointer;
}

@media only screen and (min-width: 769px) {
  .nav__burger-label {
    display: none !important;
  }
}

.nav__burger-label > span {
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: #2196f3;
  -webkit-transition: all 0.5s cubic-bezier(0.55, -0.45, 0.57, 1.46);
  transition: all 0.5s cubic-bezier(0.55, -0.45, 0.57, 1.46);
}

.nav__burger-label > span:nth-of-type(1) {
  width: 80%;
}

.nav__burger-label > span:nth-of-type(2) {
  width: 100%;
}

.nav__burger-label > span:nth-of-type(3) {
  width: 60%;
}

.nav__burger-checkbox {
  display: none;
}

.nav__burger-checkbox:checked ~ .nav__burger-label :nth-child(1) {
  width: 50%;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  /* yani hol che mehvari becharkhad (bala)*/
  -webkit-transform: rotate(45deg) translate(-1rem, 1.6rem);
          transform: rotate(45deg) translate(-1rem, 1.6rem);
  /* (translate(-1rem, 1.6rem))meghdar aval baraye mehvar x va dovomi y */
}

.nav__burger-checkbox:checked + .nav__burger-label :nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav__burger-checkbox:checked ~ .nav__burger-label :nth-of-type(3) {
  width: 50%;
  -webkit-transform: rotate(45deg) translate(-0.5rem, -0.1rem);
          transform: rotate(45deg) translate(-0.5rem, -0.1rem);
}

/* Responsive */
@media only screen and (max-width: 768px) {
  .nav__mobaile-wrap {
    position: fixed;
    top: 9.2rem;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    /* mikhahim karbar dar mobaile rooye mehvar y pish beravad (bala)*/
    z-index: 100;
    display: none;
    width: 100vw;
    height: auto;
    /* baraye inke andaze chaild khod shavad (bala) */
    background-color: #edfcff;
  }
  .nav__burger-checkbox:checked ~ .nav__mobaile-wrap {
    display: block;
  }
  .nav__link {
    width: calc(100vw - 3rem);
  }
  .nav__lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__list:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  .nav__sublists1,
  .nav__sublists2,
  .nav__mega-content {
    /* reset setings */
    position: relative;
    top: 0;
    right: 0;
    display: none;
    width: 100%;
    margin-right: 2rem;
    border: none;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .nav__list:hover > .nav__sublists1,
  .nav__show-ul:hover > .nav__sublists2,
  .nav__mega:hover > .nav__mega-content {
    display: block;
  }
  .nav__mega-column {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__hover-a:hover > span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    -webkit-box-shadow: 0 0 4px #444444;
            box-shadow: 0 0 4px #444444;
  }
}

.navbar__search-box {
  width: 20rem;
}

@media only screen and (max-width: 992px) {
  .navbar__search-box {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: auto;
  }
}

.navbar__nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media only screen and (max-width: 992px) {
  .navbar__nav {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

@media only screen and (max-width: 992px) {
  .navbar__logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
/*# sourceMappingURL=main.css.map */