@charset "UTF-8";

@import "abstracts/variables", "abstracts/functions", "abstracts/mixins", "abstracts/placeholder";

@import "base/base", "base/fonts", "base/helpers", "base/taypography", "base/animation";

@import "components/search", "components/buttons", "components/icons", "components/courses", "components/cards",
    "components/mask-video", "components/reple-play-button", "components/accordion", "components/masonry",
    "components/model", "components/maps", "components/glass-effect", "components/form", "components/pattern", "components/flip", "components/info", "components/skew";

@import "layout/nav", "layout/navbar", "layout/header";

@import "pages/home";
