@charset "UTF-8";

@import "abstracts/variables", "abstracts/functions", "abstracts/mixins", "abstracts/placeholder";

@import "base/base", "base/fonts", "base/helpers", "base/taypography" ,"base/animation";

@import "components/search" ,"components/buttons" ,"components/icons" , "components/courses";

@import "layout/nav", "layout/navbar", "layout/header";

@import "pages/home"
