*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* (box-sizing: border-box;) baraye inke padding va margin default bardashte shavad */
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  /* ba in kar bar hasb 10 px mohasebe mishavad na shoonzdah pixel default pas har 1rem mishe 10pxel */
}

body {
  font-family: Verdana, "vazir", "lalezar", Tahoma, sans-serif;
  font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #262626;
}

button,
textarea,
select,
input {
  font-family: inherit;
  /* (inherit) yani font ra az body begir */
}

ul {
  list-style: none;
}

a {
  color: #0d62da;
  text-decoration: none;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

a:hover {
  color: #e76f51;
}

@font-face {
  font-family: "vazir";
  src: url("../fonts/eot/Vazir-Thin.eot");
  src: url("../fonts/eot/Vazir-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/Vazir-Thin.woff2") format("woff2"), url("../fonts/woff/Vazir-Thin.woff") format("woff"), url("../fonts/ttf/Vazir-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "lalezar";
  src: url("../fonts/eot/lalezar.eot");
  src: url("../fonts/eot/lalezar.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/lalezar.woff2") format("woff2"), url("../fonts/woff/lalezar.woff") format("woff"), url("../fonts//ttf/lalezar.ttf") format("truetype");
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  /* in do ta ra neveshtim braye inke vasat ghrar begirad (bala) */
  padding-right: 1rem;
  padding-left: 1rem;
  /* in do ta ra neveshtim braye inke kami fasele begirad(az kenar) */
  /* (min-width)kamtar az:   (max-width)bishtar az: */
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/* Flex helpers(yek bar benevis baraye hamishe estefade kon) */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* padding margin helper */
.pt-10 {
  padding-top: 1rem;
}

.pb-10 {
  padding-bottom: 1rem;
}

.pt-20 {
  padding-top: 2rem;
}

.pb-20 {
  padding-bottom: 2rem;
}

.mt-50 {
  margin-top: 5rem;
}

.mb-50 {
  margin-bottom: 5rem;
}

.margin__r-auto {
  margin-right: auto;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 992px) {
  .show-small {
    display: block;
  }
}

@media only screen and (min-width: 993px) {
  .show-large {
    display: block;
  }
}

.header__intro {
  display: inline-block;
  width: 0;
  font-family: "lalezar";
  font-size: 5.5rem;
  font-weight: bold;
  white-space: nowrap;
  background-image: linear-gradient(110deg, #76e650 -1.13%, #f9d649 15.22%, #f08e35 32.09%, #ec5157 48.96%, #ff18bd 67.94%, #1a4bff 85.34%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  border-left: 1.5rem solid #0d62da;
  -webkit-animation: typewriting 1.2s steps(18) 2s 1 normal forwards, typewriting-cursor 1s steps(1) infinite;
          animation: typewriting 1.2s steps(18) 2s 1 normal forwards, typewriting-cursor 1s steps(1) infinite;
}

@media only screen and (max-width: 992px) {
  .header__intro {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .header__intro {
    border-left: 1rem solid #0d62da;
  }
}

.header__subtitle {
  font-size: 2rem;
  line-height: 2;
  color: #999999;
}

@media only screen and (max-width: 992px) {
  .header__subtitle {
    font-size: 1.5rem;
  }
}

.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem 0;
  font-family: "lalezar";
  font-size: 2.5rem;
}

.header-title::after, .header-title::before {
  content: "";
  width: 20rem;
  height: .2rem;
  background-color: #e76f51;
}

@media only screen and (max-width: 768px) {
  .header-title::after, .header-title::before {
    width: 100%;
  }
}

@-webkit-keyframes typewriting {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes typewriting {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes typewriting-cursor {
  0% {
    border-left-color: transparent;
  }
  50% {
    border-left-color: #0d62da;
  }
}

@keyframes typewriting-cursor {
  0% {
    border-left-color: transparent;
  }
  50% {
    border-left-color: #0d62da;
  }
}

@-webkit-keyframes rocket-moving {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@keyframes rocket-moving {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@-webkit-keyframes burgermenu-color {
  from {
    background-color: #ec8d75;
  }
  to {
    background-color: #2196f3;
  }
}

@keyframes burgermenu-color {
  from {
    background-color: #ec8d75;
  }
  to {
    background-color: #2196f3;
  }
}

@-webkit-keyframes stroke-offset {
  to {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

@keyframes stroke-offset {
  to {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes success-scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes success-scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-webkit-keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@-webkit-keyframes wiggle {
  0%, 7% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  15% {
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
  20% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  25% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  30% {
    -webkit-transform: rotateZ(6deg);
            transform: rotateZ(6deg);
  }
  35% {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg);
  }
  40%, 100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@keyframes wiggle {
  0%, 7% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  15% {
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
  20% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  25% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  30% {
    -webkit-transform: rotateZ(6deg);
            transform: rotateZ(6deg);
  }
  35% {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg);
  }
  40%, 100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

.search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5rem;
  height: 5rem;
  padding-bottom: 1.5rem;
  border: 0.3rem solid #457b9d;
  border-radius: 5rem;
  -webkit-transition: width 0.5s cubic-bezier(0.55, -0.45, 0.57, 1.46);
  transition: width 0.5s cubic-bezier(0.55, -0.45, 0.57, 1.46);
  /* aval entekhab mikonim be kodam property bedahim(dar inja width) baad zaman animation baad noe animation */
}

.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 0.1rem solid #457b9d;
  margin-top: 1.5rem;
  margin-right: auto;
  margin-left: 0.2rem;
}

.search__input {
  display: none;
  position: absolute;
  right: 0.3rem;
  width: calc(100% - 5rem);
  /* dar inja goftim nesf 100% ra khodat mohasebe kon */
  height: 80%;
  outline: 0;
  border: 0;
  background-color: transparent;
}

.search__input::-webkit-input-placeholder {
  color: #999999;
}

.search__input:-ms-input-placeholder {
  color: #999999;
}

.search__input::-ms-input-placeholder {
  color: #999999;
}

.search__input::placeholder {
  color: #999999;
}

.search__button {
  position: relative;
  /* in position ra dadim ta class payini betavanad bar asas position parentash ja begirad */
  height: 3rem;
  /* 10 pixel az parent khod kamtar ast */
  width: 3rem;
  border: 0;
  outline: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
}

.search__circle {
  position: absolute;
  height: 2rem;
  width: 2rem;
  top: 0;
  left: 0;
}

.search__circle::before, .search__circle::after {
  content: "";
  position: absolute;
  left: 0.2rem;
  width: 1.8rem;
  height: 0.9rem;
  border: 0.5rem solid #457b9d;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.search__circle::before {
  content: "";
  /* content bayad hatman bashad va garna namayesh nemidahad*/
  position: absolute;
  top: 0.2rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-bottom: 0;
}

.search__circle::after {
  content: "";
  position: absolute;
  top: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top: 0;
}

.search__stand {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 1.5rem;
  height: 0.6rem;
  background-color: transparent;
  /* dar inja background-color ro mahv karsim */
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.search__stand::after, .search__stand::before {
  content: "";
  position: absolute;
  top: 0.2rem;
  width: 1.5rem;
  height: 0.6rem;
  background-color: #457b9d;
  border-radius: 1rem;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.search:focus-within {
  width: 20rem;
}

@media only screen and (max-width: 768px) {
  .search:focus-within {
    width: 12rem;
  }
}

.search:focus-within .search__input {
  display: block;
}

.search:focus-within .search__circle {
  top: 0.4rem;
  left: -0.3rem;
}

.search:focus-within .search__circle::before, .search:focus-within .search__circle::after {
  border-radius: 1rem;
  background-color: #457b9d;
  width: 1.5rem;
  height: 0.6rem;
}

.search:focus-within .search__circle::before {
  top: 0.4rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.search:focus-within .search__circle::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.search:focus-within .search__stand {
  top: 1.5rem;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.search:focus-within .search__stand::before {
  top: -0.7rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.search:focus-within .search__stand::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn {
  position: relative;
  padding: 1rem 2rem;
  margin: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 1rem;
  cursor: pointer;
  -webkit-box-shadow: 0 0 3px #727272;
          box-shadow: 0 0 3px #727272;
  overflow: hidden;
  -webkit-transform: all 0.3s ease;
          transform: all 0.3s ease;
}

.btn__swipe {
  background-color: #d35400;
}

.btn__swipe > span {
  position: relative;
  z-index: 1;
  color: white;
}

.btn__swipe::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #993e01;
  border-radius: 1rem;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-weight: normal;
}

.btn__swipe:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.shadow-none {
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
}

.success-icon {
  width: 7rem;
  height: 7rem;
  fill: none;
  stroke: #457b9d;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}

.success-icon:hover {
  stroke-dasharray: 230;
  stroke-dashoffset: 230;
  -webkit-animation: stroke-offset 0.6s linear forwards, success-scale 0.2s ease 0.6s;
          animation: stroke-offset 0.6s linear forwards, success-scale 0.2s ease 0.6s;
}

.world-icon {
  width: 6.5rem;
  height: 6.4rem;
  fill: none;
  stroke: #e76f51;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}

.world-icon .world-icon__world-marker {
  -webkit-transition: all 1s cubic-bezier(1, -1.61, 0, 1.74);
  transition: all 1s cubic-bezier(1, -1.61, 0, 1.74);
}

.world-icon:hover .world-icon__world-circle {
  opacity: 0;
  -webkit-animation: fade-in 0.6s linear forwards;
          animation: fade-in 0.6s linear forwards;
}

.world-icon:hover .world-icon__world-map {
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
}

.world-icon:hover .world-icon__world-marker {
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform-origin: 49px 7px;
          transform-origin: 49px 7px;
}

.world-icon:hover .world-icon__world-marker,
.world-icon:hover .world-icon__world-map {
  opacity: 0;
  -webkit-animation: stroke-offset 0.6s linear forwards;
          animation: stroke-offset 0.6s linear forwards;
}

.course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.course__box {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 39rem;
  margin: 2rem;
  border: 2px solid #f1f1f1;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 576px) {
  .course__box {
    width: 37rem;
  }
}

.course__header {
  position: relative;
  overflow: hidden;
}

.course__header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.19);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.course__header:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.course__header:hover .course__details-link {
  left: 1.8rem;
  opacity: 1;
}

.course__header:hover .course__social-media i {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.course__details-link {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  color: white;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.course__details-link:hover {
  color: #cccccc;
}

.course__social-media {
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.course__social-media i {
  padding: 1rem;
  color: white;
  font-size: 2rem;
  opacity: 0;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.course__social-media i:hover {
  color: #e76f51;
}

.course__social-media :nth-child(2) {
  margin-right: auto;
}

.course__img {
  display: block;
  width: 39rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.course__body {
  padding: 1rem;
}

.course__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.course__details i {
  font-size: 1.7rem;
  margin-left: 1rem;
  color: #457b9d;
}

.course__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 576px) {
  .course__tags {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.course__tag {
  position: relative;
  height: 3.4rem;
  padding: 0.7rem;
  margin: 1.5rem 0 0 1.6rem;
  white-space: nowrap;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.course__tag:hover {
  -webkit-animation: wiggle 2.2s linear forwards;
          animation: wiggle 2.2s linear forwards;
  border: none;
}

.course__tag a {
  color: white;
}

.course__tag a:hover {
  color: #f1f1f1;
}

.course__tag::before {
  content: "";
  position: absolute;
  top: 1.3rem;
  left: -7px;
  z-index: 1;
  width: 7px;
  height: 7px;
  background-color: white;
  border-radius: 50%;
}

.course__tag::after {
  content: "";
  position: absolute;
  top: 0;
  left: -14px;
  border-style: solid;
  border-width: 16px 14px 18px 0;
  border-color: transparent;
}

.course__tag--blue {
  background-color: #457b9d;
}

.course__tag--blue::after {
  border-right-color: #457b9d;
}

.course__tag--green {
  background-color: #2a9d8f;
}

.course__tag--green::after {
  border-right-color: #2a9d8f;
}

.course__tag--orange {
  background-color: #e76f51;
}

.course__tag--orange::after {
  border-right-color: #e76f51;
}

.course__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  border-top: 1px solid #cccccc;
}

@media only screen and (max-width: 576px) {
  .course__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.course__price {
  padding: .5rem;
  border-radius: .5rem;
  background-color: #cccccc;
}

.course__result {
  padding: .5rem;
  margin: .2rem;
}

.course__user {
  color: #08528d;
}

.course__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  direction: ltr;
}

.course__star {
  color: goldenrod;
  cursor: pointer;
  font-size: 2rem;
}

.course__star:hover ~ .course__star {
  color: #cccccc;
}

.course__ribbon {
  position: absolute;
  top: 1.5rem;
  right: -1rem;
  width: 10rem;
  height: 5rem;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
}

.course__ribbon::after {
  content: "";
  position: absolute;
  top: 3.5rem;
  right: 0;
  border: 0.5rem solid #e76f51;
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.course__ribbon-text {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: .6rem 0;
  background-color: #e76f51;
  color: white;
  -webkit-box-shadow: 0 0 8px rgba(153, 153, 153, 0.1);
          box-shadow: 0 0 8px rgba(153, 153, 153, 0.1);
  border-radius: .5rem;
  border-bottom-right-radius: 0;
  text-align: center;
}

.nav__lists {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 30;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  position: relative;
}

.nav__list:hover > ul.nav__sublists1 {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.nav__link {
  position: relative;
  display: block;
  padding: 1.3rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav__link:hover {
  color: #3c4858;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

.nav__link:hover::after {
  width: 100%;
}

.nav__link:hover > span {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 0.3rem;
  border-radius: 0.5rem;
  background-color: #0d62da;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav__sublists1, .nav__sublists2 {
  position: absolute;
  width: 20rem;
  background-color: white;
  border-top: 0.3rem solid #e76f51;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 0 4px #7e7e7e;
          box-shadow: 0 0 4px #7e7e7e;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav__sublists1 i {
  margin-left: 1rem;
  color: #457b9d;
}

.nav__sublists1 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.3rem;
  color: #444;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav__sublists1 a:hover {
  padding-right: 1.5rem;
  background-color: #f1f1f1;
  color: #0d62da;
}

.nav__sublist1 {
  position: relative;
}

.nav__sublist1 > a i:last-child {
  margin-right: auto;
}

.nav__show-ul:hover > ul.nav__sublists2 {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.nav__sublists2 {
  right: 100%;
  top: 10rem;
}

.nav__arrow {
  position: absolute;
  top: 40%;
  left: 0;
  width: 0.7rem;
  height: 0.7rem;
  border: 1px solid #3c4858;
  border-top-width: 0;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.nav__arrow-saier {
  position: absolute;
  left: 1.7rem;
  width: 0.7rem;
  height: 0.7rem;
  border: 1px solid #3c4858;
  border-top-width: 0;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0;
  -webkit-transform: rotate(224deg);
          transform: rotate(224deg);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.nav__hover-a:hover > span {
  -webkit-transform: rotate(130deg);
          transform: rotate(130deg);
}

.nav__mega {
  position: static;
}

.nav__mega:hover > .nav__mega-content {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.nav__mega-content {
  position: absolute;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  white-space: nowrap;
  background-image: conic-gradient(#98d6f3, #fea2b1, #f7f1fa, #98d6f3);
  border-top: 0.3rem solid #e76f51;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 0 4px #7e7e7e;
          box-shadow: 0 0 4px #7e7e7e;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .nav__mega-content {
    width: 67rem;
  }
}

.nav__mega-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.nav__mega-column > h4 {
  padding: 2rem;
  border-bottom: 3px solid #e76f51;
}

.nav__mega-column > .nav__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav__mega-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__mega-lists a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem;
  color: #444;
}

.nav__mega-lists a:hover {
  color: #0d62da;
}

.nav__mega-lists a:hover > i {
  color: #444;
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
}

.nav__mega-lists i {
  margin-left: 0.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav__burger-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 4rem;
  height: 4rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

@media only screen and (min-width: 769px) {
  .nav__burger-label {
    display: none !important;
  }
}

.nav__burger-label > span {
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: #2196f3;
  -webkit-transition: all 0.5s cubic-bezier(0.55, -0.45, 0.57, 1.46);
  transition: all 0.5s cubic-bezier(0.55, -0.45, 0.57, 1.46);
  -webkit-animation: burgermenu-color 2.5s ease infinite alternate;
          animation: burgermenu-color 2.5s ease infinite alternate;
}

.nav__burger-label > span:nth-of-type(1) {
  width: 80%;
}

.nav__burger-label > span:nth-of-type(2) {
  width: 100%;
}

.nav__burger-label > span:nth-of-type(3) {
  width: 60%;
}

.nav__burger-checkbox {
  display: none;
}

@media only screen and (max-width: 768px) {
  .nav__mobaile-wrap {
    position: fixed;
    top: 9.2rem;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 100;
    display: none;
    width: 100vw;
    height: auto;
    background-color: #edfcff;
  }
  .nav__burger-checkbox:checked ~ .nav__mobaile-wrap {
    display: block;
  }
  .nav__burger-checkbox:checked ~ .nav__burger-label :nth-child(1) {
    width: 50%;
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: rotate(45deg) translate(-1rem, 1.6rem);
            transform: rotate(45deg) translate(-1rem, 1.6rem);
  }
  .nav__burger-checkbox:checked + .nav__burger-label :nth-child(2) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .nav__burger-checkbox:checked ~ .nav__burger-label :nth-of-type(3) {
    width: 50%;
    -webkit-transform: rotate(45deg) translate(-0.5rem, -0.1rem);
            transform: rotate(45deg) translate(-0.5rem, -0.1rem);
  }
  .nav__link {
    width: calc(100vw - 3rem);
  }
  .nav__lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__list:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  .nav__sublists1, .nav__sublists2, .nav__mega-content {
    position: relative;
    top: 0;
    right: 0;
    display: none;
    width: 100%;
    margin-right: 2rem;
    border: none;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .nav__list:hover > .nav__sublists1,
  .nav__show-ul:hover > .nav__sublists2,
  .nav__mega:hover > .nav__mega-content {
    display: block;
  }
  .nav__mega-column {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__hover-a:hover > span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 30;
    background-color: white;
    -webkit-box-shadow: 0 0 4px #444444;
            box-shadow: 0 0 4px #444444;
  }
}

.navbar__search-box {
  width: 20rem;
}

@media only screen and (max-width: 992px) {
  .navbar__search-box {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: auto;
  }
}

.navbar__nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media only screen and (max-width: 992px) {
  .navbar__nav {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

@media only screen and (max-width: 992px) {
  .navbar__logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.header {
  position: relative;
  width: 100%;
  height: 45rem;
  padding: 3rem 0;
  background-color: #d3f4f2;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  background: linear-gradient(353deg, #d3f4f2, white);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
}

.header__wrap {
  display: inline-block;
}

.header__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__h-tags {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.header__rocket-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 360px;
  background: url("../images/rocket-bg.png") no-repeat center bottom;
}

.header__rocket {
  background: url("../images/rocket.png") no-repeat center bottom;
  width: 20%;
  background-size: contain;
  -webkit-animation: rocket-moving 4s infinite linear;
          animation: rocket-moving 4s infinite linear;
}

@media only screen and (max-width: 992px) {
  .header {
    height: 40rem;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 1rem 0;
  }
  .header::after {
    display: none;
  }
  .header__h-tags {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header__banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 576px) {
  .header__rocket-bg {
    width: 100%;
  }
  .header__rocket {
    width: 13%;
  }
}

.features {
  position: relative;
  top: -50px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 992px) {
  .features {
    padding-top: 5rem;
  }
}

.features__box {
  width: 30rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1rem 2rem;
  margin: 2rem;
  text-align: center;
  border-radius: 1rem;
  background-color: white;
  -webkit-box-shadow: 0 8px 16px 0 rgba(69, 123, 157, 0.2);
          box-shadow: 0 8px 16px 0 rgba(69, 123, 157, 0.2);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.features__box:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.features__text {
  padding: 1rem 2rem;
}

.features__text > h3 {
  white-space: nowrap;
}
/*# sourceMappingURL=main.css.map */