@mixin flex($justify-content: false, $align-items: false, $column: false, $wrap: false) {
    display: flex;

    @if ($justify-content) {
        justify-content: $justify-content;
    }

    @if ($align-items) {
        align-items: $align-items;
    }
    @if ($column) {
        flex-direction: column;
    }
    @if ($wrap) {
        flex-wrap: $wrap;
    }
}
@mixin box($width, $height) {
    width: $width + rem;
    height: $height + rem;
}
@mixin gradient($gradient) {
    background: linear-gradient($gradient);
}


