$base-path: "../";
$font-stack: Verdana, "vazir", "lalezar", Tahoma, sans-serif;

$color-white: white;

$color-blue1: #0d62da;
$color-blue2: #2196f3;
$color-blue3: #457b9d;
$color-blue4: #edfcff;

$color-green1: #d3f4f2;

$color-purple1: #ff00ff;

$color-orange1: #e76f51;
$color-orange2: #d35400;
$color-orange3: #993e01;

$color-gray1: #f1f1f1;
$color-gray2: #cccccc;

$color-gray4: #999999;

$color-brown1: #3c4858;

$cubic-bezier: cubic-bezier(0.55, -0.45, 0.57, 1.46);
$cubic-bezier2: cubic-bezier(1, -1.61, 0, 1.74);

// dar inja baraye har kodam moteghaier tarif kardim
