$base-path:"../";
$font-stack:Verdana, vazir, Tahoma, sans-serif;

$color-blue1:#0d62da;
$color-blue2:#2196f3;
$color-blue3:#457b9d;
$color-blue4:#edfcff;

$color-orange1:#e76f51;

$color-gray1:#f1f1f1;
$color-gray2:#cccccc;

$color-gray4:#999999;

$color-brown1:#3c4858;

$cubic-bezier:cubic-bezier(0.55, -0.45, 0.57, 1.46);

// dar inja baraye har kodam moteghaier tarif kardim
