@keyframes typewriting {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@keyframes typewriting-cursor {
    0% {
        border-left-color: transparent;
    }
    50% {
        border-left-color: $color-blue1;
    }
}
@keyframes rocket-moving {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-50px);
    }
}