@font-face {
    font-family: "vazir";
    src: font("eot/Vazir-Thin.eot");
    src: font("eot/Vazir-Thin.eot?#iefix") format("embedded-opentype"), font("woff2/Vazir-Thin.woff2") format("woff2"),
        font("woff/Vazir-Thin.woff") format("woff"), font("ttf/Vazir-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "lalezar";
    src: font("eot/lalezar.eot");
    src: font("eot/lalezar.eot?#iefix") format("embedded-opentype"), font("woff2/lalezar.woff2") format("woff2"),
        font("woff/lalezar.woff") format("woff"), font("/ttf/lalezar.ttf") format("truetype");
}
