.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    /* in do ta ra neveshtim braye inke vasat ghrar begirad (bala) */
    padding-right: 1rem;
    padding-left: 1rem;
    /* in do ta ra neveshtim braye inke kami fasele begirad(az kenar) */
    /* (min-width)bishtar az:   (max-width)kamtar az: */
    @media only screen and (min-width: 576px) {
        max-width: 540px;
    }
    @media only screen and (min-width: 768px) {
        max-width: 720px;
    }

    @media only screen and (min-width: 992px) {
        max-width: 960px;
    }
    @media only screen and (min-width: 1200px) {
        max-width: 1140px;
    }

    @media only screen and (min-width: 1400px) {
        max-width: 1320px;
    }
}

/* Flex helpers(yek bar benevis baraye hamishe estefade kon) */
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/* padding margin helper */

.pt-10 {
    padding-top: 1rem;
}

.pb-10 {
    padding-bottom: 1rem;
}

.pt-20 {
    padding-top: 2rem;
}

.pb-20 {
    padding-bottom: 2rem;
}
// margin
.mt-50{
    margin-top: 5rem;
}
.mb-50{
    margin-bottom: 5rem;
}
.margin__r-auto {
    margin-right: auto;
}

.hidden {
    display: none;
}



.show-small {
    @media only screen and (max-width: 992px) {
        display: block;
    }
}

.show-large {
    @media only screen and (min-width: 993px) {
        display: block;
    }
}
