.header__intro {
    display: inline-block;
    width: 0;
    font-family: "lalezar";
    font-size: 5.5rem;
    font-weight: bold;
    white-space: nowrap; // yani taht hich sharaieti khat nabayad beshkanad
    background-image: linear-gradient(
        110deg,
        #76e650 -1.13%,
        #f9d649 15.22%,
        #f08e35 32.09%,
        #ec5157 48.96%,
        #ff18bd 67.94%,
        #1a4bff 85.34%
    );
    background-clip: text; // yani faghat text ro clip kon
    -webkit-background-clip: text;
    color: transparent; // color ra transparent gozashtim ta gradient neshan dade shavad
    border-left: 1.5rem solid $color-blue1;
    animation: typewriting 1.2s steps(18) 2s 1 normal forwards, typewriting-cursor 1s steps(1) infinite; // steps(18) yani ghdam be ghadam(dar inja18)
    // animation: name duration timing-function delay iteration-count direction fill-mode;
}

.header__subtitle{
    font-size: 2rem;
    line-height: 2;
    color: $color-gray4;
}
